.card {
  .card-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    @media  (max-width: 767px) {
      bottom:auto;
      padding: 0 2em;
    }

    }
    a {
      height: 50px;
      color: gray;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      &:hover {
        color: rgb(0, 132, 255);
        font-size: 1.2rem;
      }
    }
  }


.fg {
  width: 1px;
  background-color: #e5e5e5;
  margin: 1em 0;
  margin-left: 1em;
}
