.project {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
  box-sizing: border-box;
  .wrapper {

    .link {
      transition: all 0.3s ease;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: flex;
      position: absolute;
      align-items: center;
      transition: opacity 0.3s;
      justify-content: center;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.4);
      &:hover {
        opacity: 1;
      }

      .details {
        color: #fff;
        margin: 0 0.5em;
        font-size: 1.5em;
        transform: scale(1);
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
        &::after {
          content: '\f06e';
          margin-left: 0.5em;
          font-family: fontawesome;
        }
      }
    }

    .imgCard {

      border-radius: 10px;
      box-shadow: 0 0 11px 3px rgb(0 0 0 / 15%);
    }
  }
}

