.main {
  @media (max-width: 750px) {
    height: auto;
    padding: .5em;
  }
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
