.card-right {
  flex: 7;
  box-sizing: content-box;
  padding: 1.5em;
  @media (max-width: 750px) {
    padding: 0 1.5em;
  }

  .card-about {
    padding: 0;
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
    line-height: 3em;
  }

  .card-content {

    p {
      @media (max-width: 900px) {
        line-height: 2.5em;
      }

      letter-spacing: .3px;
      color: #34495e;
      line-height: 3em;
      font-size: 1.2em;
    }
  }
  .card-more {
    color: #67ADE4;
    float: right;
    font-size: 1.1em;
    margin-right: 2em;
    margin-top: 1.5em;
    transition: all 0.3s;
    @media (max-width: 750px) {
      margin-bottom: 1em;

    }
    &:hover {
      color: #3982F7;
      transform: scale(1.1);
    }
  }
}

